# Data
python-binance==0.7.11
yfinance==0.1.63
stockstats==0.3.2
tables==3.6.1
pandas~=1.2.4

# Machine Learning
stable-baselines3[extra]==1.1.0
gym~=0.18.0
sklearn==0.0
statsmodels==0.13.1
tensorboard==2.5.0
jupyter==1.0.0
wandb==0.12.2

# General
tqdm==4.60.0
numpy>=1.21
python-dateutil~=2.8.1
python-dotenv==0.17.1
protobuf==3.16.0
colorlog==5.0.1
int_date==0.1.8

# Rendering
matplotlib~=3.4.1
mplfinance==0.12.7a17

# Finance
pyfolio-reloaded==0.9.3
